{{ define "main" }}
<div class="jumbotron dd-jumbotron dd-jumbotron-home jumbotron-fluid mb-4" style="background-image: url({{ .Params.Image }})">
    <div class="container text-center">
        <h1 class="text-white mb-3">{{ .Title }}</h1>
        <a href="/contact" class="btn btn-primary btn-lg">Contact</a>
    </div>
</div>

<div class="container mb-4 text-center">
    <h2>Our services</h2>
    <div class="row">
        <div class="col-sm">
            <div class="card border-0">
                <div class="card-body">
                    <div class="card-icon mb-3" style="background-image: url(/img/icon-daycare@2x.png);"></div>
                    <h4>Day Care</h4>
                    <p class="text-light-grey">{{ .Params.DayCareText }}</p>
                    <a href="/services" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card border-0">
                <div class="card-body">
                    <div class="card-icon mb-3" style="background-image: url(/img/icon-walking@2x.png);"></div>
                    <h4>Walking</h4>
                    <p class="text-light-grey">{{ .Params.WalkingText }}</p>
                    <a href="/services" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card border-0">
                <div class="card-body">
                    <div class="card-icon mb-3" style="background-image: url(/img/icon-boarding@2x.png);"></div>
                    <h4>Boarding</h4>
                    <p class="text-light-grey">{{ .Params.BoardingText }}</p>
                    <a href="/services" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="dd-testimonials mb-4">
    <div class="container text-center">
        <img src="/img/speechmarks@2x.png" alt="speechmarks" class="speechmarks">
        <h2 class="mb-4">What our clients say</h2>
        <div id="testimonials" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#testimonials" data-slide-to="0" class="active"></li>
                <li data-target="#testimonials" data-slide-to="1"></li>
                <li data-target="#testimonials" data-slide-to="2"></li>
                <li data-target="#testimonials" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <p>"Debbie always puts the needs of individual dogs first, and especially makes sure they are
                        safe and looked after in bad weather – in hot & cold temperatures... her knowledge and
                        understanding of dogs is second to none. She works to build a good relationship with each of
                        the dogs in her care and they clearly respond to that..."</p>
                    <p>~ Cathy and Maisie the Labradoodle</p>
                </div>
                <div class="carousel-item">
                    <p>"Debbie always puts the needs of individual dogs first, and especially makes sure they are
                        safe and looked after in bad weather – in hot & cold temperatures... her knowledge and
                        understanding of dogs is second to none. She works to build a good relationship with each of
                        the dogs in her care and they clearly respond to that..."</p>
                    <p>~ Cathy and Maisie the Labradoodle</p>
                </div>
                <div class="carousel-item">
                    <p>"Debbie always puts the needs of individual dogs first, and especially makes sure they are
                        safe and looked after in bad weather – in hot & cold temperatures... her knowledge and
                        understanding of dogs is second to none. She works to build a good relationship with each of
                        the dogs in her care and they clearly respond to that..."</p>
                    <p>~ Cathy and Maisie the Labradoodle</p>
                </div>
                <div class="carousel-item">
                    <p>"Debbie always puts the needs of individual dogs first, and especially makes sure they are
                        safe and looked after in bad weather – in hot & cold temperatures... her knowledge and
                        understanding of dogs is second to none. She works to build a good relationship with each of
                        the dogs in her care and they clearly respond to that..."</p>
                    <p>~ Cathy and Maisie the Labradoodle</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="dd-blog dd-blog-home container mb-4">
    <h2 class="text-center mb-4">Blog</h2>
    <div class="row">
        {{ with .Site.GetPage "section" "blog" }}
            {{ range first 3 .Pages }}
                <div class="col-md-6 col-lg-4">
                    <a href="{{ .URL | relURL }}" class="card border-0">
                        <div class="card-img-top" style="background-image: url({{ .Params.Image }});"></div>
                        <div class="card-body">
                            <div class="dd-card-body-wrapper">
                                <div class="text-light-grey">{{ dateFormat "02.01.2006" .Params.Date }}</div>
                                <div class="dd-card-title text-primary text-uppercase font-weight-bold">{{ .Title | markdownify }}</div>
                                <div class="text-body mt-4">{{ .Params.Summary | markdownify }}</div>
                            </div>
                        </div>
                    </a>
                </div>
            {{ end }}
        {{ end }}
    </div>
</div>
{{ end }}