{{ define "main" }}
<div class="jumbotron dd-jumbotron dd-jumbotron-home jumbotron-fluid mb-4" style="background-image: url({{ .Params.Image }})">
    <div class="container text-center">
        <h1 class="text-white mb-3">{{ .Title }}</h1>
        <button type="button" class="btn btn-primary btn-lg">Contact</button>
    </div>
</div>

<div class="container mb-4 text-center">
    <h2>Our services</h2>
    <div class="row">
        <div class="col-sm">
            <div class="card border-0">
                <div class="card-body">
                    <div class="card-icon mb-3" style="background-image: url(/img/icon-daycare@2x.png);"></div>
                    <h4>Day Care</h4>
                    <p class="text-light-grey">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card border-0">
                <div class="card-body">
                    <div class="card-icon mb-3" style="background-image: url(/img/icon-walking@2x.png);"></div>
                    <h4>Walking</h4>
                    <p class="text-light-grey">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card border-0">
                <div class="card-body">
                    <div class="card-icon mb-3" style="background-image: url(/img/icon-boarding@2x.png);"></div>
                    <h4>Boarding</h4>
                    <p class="text-light-grey">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="dd-testimonials mb-4">
    <div class="container text-center">
        <img src="/img/speechmarks@2x.png" alt="speechmarks" class="speechmarks">
        <h2 class="mb-4">What our clients say</h2>
        <div id="testimonials" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#testimonials" data-slide-to="0" class="active"></li>
                <li data-target="#testimonials" data-slide-to="1"></li>
                <li data-target="#testimonials" data-slide-to="2"></li>
                <li data-target="#testimonials" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <p>"Debbie always puts the needs of individual dogs first, and especially makes sure they are
                        safe and looked after in bad weather – in hot & cold temperatures... her knowledge and
                        understanding of dogs is second to none. She works to build a good relationship with each of
                        the dogs in her care and they clearly respond to that..."</p>
                    <p>~ Cathy and Maisie the Labradoodle</p>
                </div>
                <div class="carousel-item">
                    <p>"Debbie always puts the needs of individual dogs first, and especially makes sure they are
                        safe and looked after in bad weather – in hot & cold temperatures... her knowledge and
                        understanding of dogs is second to none. She works to build a good relationship with each of
                        the dogs in her care and they clearly respond to that..."</p>
                    <p>~ Cathy and Maisie the Labradoodle</p>
                </div>
                <div class="carousel-item">
                    <p>"Debbie always puts the needs of individual dogs first, and especially makes sure they are
                        safe and looked after in bad weather – in hot & cold temperatures... her knowledge and
                        understanding of dogs is second to none. She works to build a good relationship with each of
                        the dogs in her care and they clearly respond to that..."</p>
                    <p>~ Cathy and Maisie the Labradoodle</p>
                </div>
                <div class="carousel-item">
                    <p>"Debbie always puts the needs of individual dogs first, and especially makes sure they are
                        safe and looked after in bad weather – in hot & cold temperatures... her knowledge and
                        understanding of dogs is second to none. She works to build a good relationship with each of
                        the dogs in her care and they clearly respond to that..."</p>
                    <p>~ Cathy and Maisie the Labradoodle</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="dd-blog container mb-4">
    <h2 class="text-center mb-4">Blog</h2>
    <div class="row">
        <div class="col-sm">
            <a href="#" class="card border-0">
                <div class="card-img-top" style="background-image: url(https://via.placeholder.com/150);"></div>
                <div class="card-body">
                    <div class="dd-card-body-wrapper">
                        <div class="text-light-grey">14.02.2020</div>
                        <div class="dd-card-title text-primary text-uppercase font-weight-bold">Valentine's for dogs</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm">
            <a href="#" class="card border-0">
                <div class="card-img-top" style="background-image: url(https://via.placeholder.com/150);"></div>
                <div class="card-body">
                    <div class="dd-card-body-wrapper">
                        <div class="text-light-grey">14.02.2020</div>
                        <div class="dd-card-title text-primary text-uppercase font-weight-bold">KEEPING PETS SAFE OVER THE FESTIVE
                            PERIOD</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm">
            <a href="#" class="card border-0">
                <div class="card-img-top" style="background-image: url(https://via.placeholder.com/150);"></div>
                <div class="card-body">
                    <div class="dd-card-body-wrapper">
                        <div class="text-light-grey">14.02.2020</div>
                        <div class="dd-card-title text-primary text-uppercase font-weight-bold">Lorem ipsum</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{{ end }}