{{ define "main" }}
<div class="jumbotron dd-jumbotron jumbotron-fluid mb-4" style="background-image: url(/img/banner-about@2x.png)"></div>
<div class="container text-center mb-4">
  <h1 class="h2">{{ .Params.Title }}</h1>
  <p class="dd-subtitle text-light-grey">{{ .Params.Subtitle }}</p>
</div>
<form name="contact" action="/contact/thank-you" method="post" data-netlify="true" class="dd-contact-form container mb-5">
  <div class="form-group">
    <label for="name">Full name</label>
    <input type="text" class="form-control bg-light p-4" id="name">
  </div>
  <div class="form-group">
    <label for="phone">Phone number</label>
    <input type="text" class="form-control bg-light p-4" id="phone">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control bg-light p-4" id="email">
  </div>
  <div class="form-group">
    <label for="email">Message</label>
    <textarea class="form-control bg-light p-4" id="message" rows="5"></textarea>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary pr-5 pl-5">Send!</button>
  </div>
</form>
{{ end }}