{{ define "main" }}
<div class="jumbotron dd-jumbotron jumbotron-fluid mb-4" style="background-image: url(/img/banner-about@2x.png)"></div>
<div class="container text-center mb-4">
  <h1 class="h2">{{ .Title }}</h1>
  <p class="text-light-grey">{{ .Params.Subtitle }}</p>
  <a href="/contact" class="btn btn-primary">Contact</a>
</div>
<div class="container dd-testimonials-page mb-5">
  <div class="card-columns">
    {{ range .Pages }}
      <div class="card dd-card-testimonial border-0 bg-paw-print">
        <img src="/img/speechmarks@2x.png" alt="speechmarks" class="speechmarks">
        <div class="card-body text-center text-white">
          <div class="card-icon mb-3" style="background-image: url({{ .Params.Image }});"></div>
          {{ .Params.Text | markdownify }}
          <p class="font-italic">~ {{ .Params.Name }}</p>
        </div>
      </div>
    {{ end }}
  </div>
</div>
{{ end }}