{{ define "main" }}
<div class="jumbotron dd-jumbotron jumbotron-fluid mb-4" style="background-image: url({{ .Params.Image }})"></div>
<div class="container text-center mb-4">
  <h1 class="h2">{{ .Title }}</h1>
  <p class="text-light-grey dd-subtitle">{{ .Params.Subtitle }}</p>
</div>
<div class="dd-blog container mb-5">
    <div class="row">
        {{ range .Paginator.Pages }}
            <div class="col-md-6 col-lg-4">
                <a href="{{ .URL | relURL }}" class="card border-0">
                    <div class="card-img-top" style="background-image: url({{ .Params.Image }});"></div>
                    <div class="card-body">
                        <div class="dd-card-body-wrapper">
                            <div class="text-light-grey">{{ dateFormat "02.01.2006" .Params.Date }}</div>
                            <div class="dd-card-title text-primary text-uppercase font-weight-bold">{{ .Title | markdownify }}</div>
                            <div class="text-body mt-4">{{ .Summary | markdownify }}</div>
                        </div>
                    </div>
                </a>
            </div>
        {{ end }}
    </div>
  {{ if gt .Paginator.TotalPages 1 }}
    <div class="row">
        <div class="col text-right">
            {{ if eq .Paginator.HasPrev true }}
                <a href="{{ .Paginator.Prev.URL }}" class="btn btn-primary" style="width:125px;">Previous</a>
            {{ end }}
        </div>
        <div class="col">
            {{ if eq .Paginator.HasNext true }}
                <a href="{{ .Paginator.Next.URL }}" class="btn btn-primary" style="width:125px;">Next</a>
            {{ end }}
        </div>
    </div>
  {{ end }}
</div>
{{ end }}