{{ define "main" }}
<div class="jumbotron dd-jumbotron jumbotron-fluid mb-4" style="background-image: url({{ .CurrentSection.Params.Image }})"></div>
<div class="container text-center mb-4">
  <p class="text-light-grey dd-subtitle">{{ dateFormat "02.01.2006" .Params.Date }}</p>
  <h1 class="h2 text-primary">{{ .Params.Title }}</h1>
</div>
<div class="container dd-blog-article pt-md-2 pb-md-2 mb-5 text-center">
    <div class="mb-4">
        <div class="dd-blog-image" style="background-image: url({{ .Params.Image }});"></div>
    </div>
    {{ .Content }}
</div>
{{ end }}