<div class="footer dd-footer">
  <div class="container">
      <div class="row">
          <div class="col-sm-8">
              <p>Debbie’s Dogz is 4* licensed (higher standard) with Aylesbury Vale District Council for Daycare &
                  Boarding.</p>
              <p class="dd-footer-licence">Licence Number LC201910–41891</p>
              <a href="...">Terms and Conditions</a>
          </div>
          <div class="col-sm-4 dd-footer-social">
              <span>Follow us on social</span>
              <a href="..." class="dd-footer-social-facebook"><span></span></a>
              <a href="..." class="dd-footer-social-instagram"><span></span></a>
          </div>
      </div>
  </div>
</div>
<div class="dd-copyright">
  <div class="container">
      <span>&copy; 2020 Debbie's Dogz. All rights reserved.</span>
  </div>
</div>