{{ with .Site.GetPage "master" }}
<div class="footer dd-footer">
  <div class="container">
      <div class="row">
          <div class="col-sm-8">
              {{ .Params.Footer | markdownify }}
          </div>
          <div class="col-sm-4 dd-footer-social">
              <div class="font-italic mb-2">Follow us on social</div>
              <a href="https://www.facebook.com/debbiesdogz"><img src="/img/Fb@2x.png" alt="Facebook" /></a>
              <a href="https://www.instagram.com/debbiesdogz/"><img src="/img/Insta@2x.png" alt="Instagram" /></a>
          </div>
      </div>
  </div>
</div>
<div class="dd-copyright">
  <div class="container">
      <span>&copy; {{ dateFormat "2006" now }} Debbie's Dogz. All rights reserved.</span>
  </div>
</div>
{{ end }}
