{{ $homeCls := cond (eq .Section "") " active" "" }}
{{ $servicesCls := cond (eq .Section "services") " active" "" }}
{{ $aboutCls := cond (eq .Section "about") " active" "" }}
{{ $testimonialsCls := cond (eq .Section "testimonials") " active" "" }}
{{ $blogCls := cond (eq .Section "blog") " active" "" }}
{{ $contactCls := cond (eq .Section "contact") " active" "" }}

<div class="container">
  <nav class="navbar dd-navbar navbar-expand-lg pr-0">
      <a class="navbar-brand" href="/"><img src="/img/logo.png" alt="Debbie's Dogz"></a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon text-primary"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item {{ $homeCls }}">
                  <a class="nav-link" href="/">Home</a>
                  <span class="nav-item-bar"></span>
              </li>
              <li class="nav-item {{ $servicesCls }}">
                  <a class="nav-link" href="/services">Services</a>
                  <span class="nav-item-bar"></span>
              </li>
              <li class="nav-item {{ $aboutCls }}">
                  <a class="nav-link" href="/about">About</a>
                  <span class="nav-item-bar"></span>
              </li>
              <li class="nav-item {{ $testimonialsCls }}">
                  <a class="nav-link" href="/testimonials">Testimonials</a>
                  <span class="nav-item-bar"></span>
              </li>
              <li class="nav-item {{ $blogCls }}">
                  <a class="nav-link" href="/blog">Blog</a>
                  <span class="nav-item-bar"></span>
              </li>
              <li class="nav-item {{ $contactCls }}">
                  <a class="nav-link" href="/contact">Contact</a>
                  <span class="nav-item-bar"></span>
              </li>
          </ul>
      </div>
  </nav>
</div>