<div class="dd-suppliers">
    <div class="container text-center">
        <h2 class="mb-4">Debbie's Dogz Recommends</h2>
        <div id="suppliers" class="carousel slide d-md-none" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#testimonials" data-slide-to="0" class="active"></li>
                <li data-target="#testimonials" data-slide-to="1"></li>
                <li data-target="#testimonials" data-slide-to="2"></li>
                <li data-target="#testimonials" data-slide-to="3"></li>
                <li data-target="#testimonials" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="https://boneidol.co.uk" target="_blank"><img src="/images/uploads/boneidol-logo-2x.png" class="w_100" /></a>
                </div>
                <div class="carousel-item">
                    <a href="https://www.jrpetproducts.com" target="_blank"><img src="/images/uploads/jrp-logo-2x.png" class="w_100" /></a>
                </div>
                <div class="carousel-item">
                    <a href="https://ruffandtumbledogcoats.com" target="_blank"><img src="/images/uploads/ruffandtumble-logo-2x.png" class="w_100" /></a>
                </div>
                <div class="carousel-item">
                    <a href="https://www.hik9.com" target="_blank"><img src="/images/uploads/hik9-logo-2x.png" class="w_100" /></a>
                </div>
                <div class="carousel-item">
                    <a href="https://www.equafleece.co.uk" target="_blank"><img src="/images/uploads/equafleece-logo-2x.png" class="w_100" /></a>
                </div>
            </div>
        </div>
        <div class="logos d-none d-md-block">
            <a href="https://boneidol.co.uk" target="_blank"><img src="/images/uploads/boneidol-logo-2x.png" style="height: 70px;"></a>
            <a href="https://www.jrpetproducts.com" target="_blank"><img src="/images/uploads/jrp-logo-2x.png" style="height: 70px;"></a>
            <a href="https://ruffandtumbledogcoats.com" target="_blank"><img src="/images/uploads/ruffandtumble-logo-2x.png" style="height: 60px;"></a>
            <a href="https://www.hik9.com" target="_blank"><img src="/images/uploads/hik9-logo-2x.png" style="height: 140px;"></a>
            <a href="https://www.equafleece.co.uk" target="_blank"><img src="/images/uploads/equafleece-logo-2x.png" style="height: 30px;"></a>
        </div>
    </div>
</div>