{{ define "main" }}
<div class="jumbotron dd-jumbotron jumbotron-fluid mb-4" style="background-image: url({{ .Params.Image }})"></div>
<div class="container text-center mb-4 dd-subtitle">
  <h1 class="h2">{{ .Title }}</h1>
  <p class="text-light-grey">{{ .Params.Subtitle }}</p>
  <a href="/contact" class="btn btn-primary">Contact</a>
</div>
<div class="container mb-5">
  <div class="card-deck mb-4">
    <div class="card dd-card-service border-0 bg-light-blue">
      <div class="card-body text-center">
        <div class="card-icon mb-3" style="background-image: url(/img/icon-daycare-white@2x.png);"></div>
        <h5 class="text-primary mb-0">Day Care</h5>
        <p class="text-secondary">{{ .Params.DayCarePrice }}</p>
        {{ .Params.DayCareText | markdownify }}
      </div>
    </div>
    <div class="card dd-card-service border-0 bg-light-blue">
      <div class="card-body text-center">
        <div class="card-icon mb-3" style="background-image: url(/img/icon-walking-white@2x.png);"></div>
        <h5 class="text-primary mb-0">Walking</h5>
        <p class="text-secondary">{{ .Params.WalkingPrice }}</p>
        {{ .Params.WalkingText | markdownify }}
      </div>
    </div>
  </div>
  <div class="card-deck">
    <div class="card dd-card-service border-0 bg-light-blue">
      <div class="card-body text-center">
        <div class="card-icon mb-3" style="background-image: url(/img/icon-boarding-white@2x.png);"></div>
        <h5 class="text-primary mb-0">Boarding</h5>
        <p class="text-secondary">{{ .Params.BoardingPrice }}</p>
        {{ .Params.BoardingText | markdownify }}
      </div>
    </div>
    <div class="card dd-card-service border-0 bg-light-blue">
      <div class="card-body text-center">
        <div class="card-icon mb-3" style="background-image: url(/img/icon-training-white@2x.png);"></div>
        <h5 class="text-primary mb-0">One-to-one Training</h5>
        <p class="text-secondary">{{ .Params.TrainingPrice }}</p>
        {{ .Params.TrainingText | markdownify }}
      </div>
    </div>
  </div>
</div>

{{- partial "testimonials.html" . -}}

{{ end }}